<!DOCTYPE html>
<html class="translated-ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gurdeep singh osahan">
    <meta name="author" content="Gurdeep singh osahan">
    <title>企业注册-校园招聘系统</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="../../static/images/logo.svg">
    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link href="../../static/vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="../../static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Register -->
<div class="bg-white">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-lg-4 mx-auto">
                <div class="osahan-login py-4">
                    <div class="text-center mb-4">
                        <a href="/index"><img src="../../static/images/logo.svg" alt=""></a>
                        <h5 class="font-weight-bold mt-3"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">加入人才招聘</font></font></h5>
                        <p class="text-muted">
                            <wdautohl-customtag style="font-weight:bold;color:blue;font-size:inherit;display:inline;"
                                                id="wdautohl_id_1" class="wdautohl_bWFrZSB0aGUgbW9zdCBvZg__"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">我们将帮助您</font></font>
                            </wdautohl-customtag>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 找到满意的员工</font></font>
                        </p>
                    </div>
                        <form action="/company/register/" method="post">
                             {% csrf_token %}
                        <div class="form-group">
                            <label class="mb-1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">企业名称</font></font></label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-account-multiple position-absolute"></i>
                                <input type="text" class="form-control" name="name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">电子邮件</font></font></label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-email-outline position-absolute"></i>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">密码（6个或更多字符）</font></font></label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input type="password" class="form-control" name="pwd" required>
                            </div>
                        </div><div class="form-group">
                            <label class="mb-1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">验证码</font></font></label>
                            <div class="position-relative icon-form-control input-group">
                                <input type="text" class="form-control" style="padding-left: 15px;" name="checkcode" required>
                                <input type="text" name="code" id="code" hidden>
                                <div class="input-group-append">
                                <img src="/captcha_img/" onclick="changeCheckCode(this);">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">您同意《</font></font><a href="#"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">企业协议》</font></font></a><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">，《</font></font><a href="#"><font
                                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">隐私政策</font></font></a><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">》和《</font></font><a href="#"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Cookie政策》</font></font></a><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">。</font></font></label>
                        </div>
                        <button class="btn btn-success btn-block text-uppercase" type="submit"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            同意并加入 </font></font></button>

                        <div class="py-3 d-flex align-item-center">
                            <span class="errmsg">{{ errmsg }}</span>
                            <span class="ml-auto"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">已经有账户了吗？</font></font><a href="/company/login/"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">登入</font></font></a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Register -->
<script src="../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../static/js/custom.js"></script>
<script src="../../static/js/code.js"></script>
</body>
</html>