{% extends 'base.html' %}
{% load static %}
{% block title %}宣讲会{% endblock title %}
{% block topfiles %}{% endblock topfiles %}
{% block body %}
    <div class="main-page second py-5">
        <div class="container">
            <div class="h4">
                <p>腾讯2022校园招聘空中宣讲会直播</p>
            </div>
            <div class="row">
                <div class="col-lg-12">
{#                    <div class="box shadow-sm rounded bg-white mb-3">#}
{#                        <div class="box-title border-bottom p-3">#}
                    <iframe src="//player.bilibili.com/player.html?aid=419923343&bvid=BV1p341167L5&cid=392321318&page=1&as_wide=1&high_quality=1&danmaku=0" width="100%" height="650" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
{#                        <iframe src="//player.bilibili.com/player.html?aid=419923343&bvid=BV1p341167L5&cid=392321318&page=1" allowfullscreen="allowfullscreen" width="100%" height="500" scrolling="no" frameborder="0" sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"> </iframe>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
